@import "_mixins";

@include font-face(Roboto-Thin, '../fonts/Roboto-Thin');
@include font-face(Roboto-Light, '../fonts/Roboto-Light');
@include font-face(Roboto-Regular, '../fonts/Roboto-Regular');
@include font-face(Roboto-Medium, '../fonts/Roboto-Medium');
@include font-face(Roboto-Bold, '../fonts/Roboto-Bold');

* { margin:0;
	padding:0;
	// list-style:none;
	vertical-align:baseline;
	// font-weight: normal;
}

body{
	font-family: 'Roboto-Light', sans-serif;
	font-size: 16px;
	color: #263238;
	line-height: 1.8em;
	@media only screen and (max-width : 768px) {
		font-size: 14px;
    }
}

.container{
	/* display: -webkit-flex;
	display: flex;
    flex-direction: row; */
    display: table;
    margin-top: 15px;
    /* @media only screen and (max-width : 768px) {
		display: block;
    } */
	aside {
	  	display: table-cell;
	  	width: 35%;
		@media only screen and (max-width : 768px) {
			display: block;
			width: 100%;
	    }
	  	.panel{
	  		width: 35%;
	  		position: fixed;
	  		text-align: center;
	  		font-size: 1.2em;
	  		@media only screen and (max-width : 768px) {
				position: relative;
				width: 100%;
		    }
	  		h1{
	  			font-size:1.8em;
	  			margin-bottom: 10px;
	  		}
	  		.image-profile{
	  			margin: auto;
	  			display: block;
	  			max-width: 50%;
	  			margin-bottom: 20px;
	  			@media only screen and (max-width : 768px) {
					max-width: 250px;
					width: 45%;
			    }
	  		}
	  		.social-networks{
	  			font-size: 2em;
	  			margin-top: 10px;
	  			a:hover{
	  				// color: #2196F3;
	  				color: #2c82c7;
	  			}
	  		}
	  	}
	}
	section{
		display: table-cell;
		width: 65%;
		@media only screen and (max-width : 768px) {
			display: block;
			width: 100%;
	    }
		.itens{
			width: 90%;
			margin: auto;
			h2{
				padding: 0 10px;
				// color: #607D8B;
				color: #009688;
			}
			article{
			    // border-left: 1px solid #E3F2FD;
			    border-left: 1px solid #E0F2F1;
				padding: 10px 0;
				margin-bottom: 30px;
				.description{
					padding: 0 15px;
					margin-top: 10px;
					line-height: 1.5em;
					.list-item{
						margin-bottom:20px;
						ul{
							padding-left: 20px;
						}
						.projects-description{
							border-left: 5px solid #E0F2F1;
							margin-top: 10px;
							li{
								margin-left: 10px;
							}
						}
					}
				}
				&:hover{
					// border-color: #2196F3;
					border-color: #009688;
				}
			}
		}
	}
}

a{
	text-decoration:none;
	color: #607D8B;
	// color: #009688;
}